<mat-card class="example-result-card">
    <mat-card-content>

        <div class="slider">
            <div id="example-name-label" class="example-name-label">{{name}}: </div>
            <div class="example-value-label">{{ballSlider.value}}</div>
        </div>
        <mat-slider class="example-margin" [max]="max" [min]="min" [step]="step">
            <input matSliderThumb [(ngModel)]="sliderValue" (valueChange)="sliderValueChange.emit(sliderValue)" #ballSlider>
        </mat-slider>
    </mat-card-content>
</mat-card>
