<app-default-game-template 
    [class]="'arkanoid'" 
    [gameState]="Globals.gameState" 
    (gameReRunned)="reRun()"
    (gameStarted)="startGame()"
    (pausedGame)="pausedGame()"
    (leavedGame)="leavedGame()" 
    (movedToexitToSettings)="exitToSettings()">
</app-default-game-template>
<app-score-board *ngIf="activeBoost !== null" class="scoreboard-under-canvas" 
[homeName]="getBonusItemNameToDisplay(activeBoost)" 
[homeScore]="timeToEndActiveBoost | number"
[isJustPlayerScore]="true">
</app-score-board>

