.dodge-the-balls-canvas {
    background-image: url("../../../assets/dodge/space.png");
}

.arkanoid {
    opacity: 0.4 !important;
    background-color: whitesmoke
}

.platform {
    background-color: #80D9FF;
}

.leave-icon {
    height: 24px;
    border-radius: 2px;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 7px;
}

.actions-buttons {
    position: absolute;
    right: 1%;
    top:0;
}