.confirm-dialog {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    gap:10px;
}

.actions-buttons {
    display: flex;
    flex-direction: row;
    gap:30px;
}

.action-button {
    height: 36px;
    border-radius: 3px;
    padding-left: 6px;
    padding-right: 6px;
    font-size: 11px;
    width: 50px;
}

.horizontal-divider {
    width: 100%;
    height: 2px;
    border-top: 1px dashed black;
}